.main{
    text-align: center;
    margin-top: 250px;
}

h1{
    font-size: medium;
    font-weight: bold;
}

/* button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
} */